/*
  ===========================
  BOX MODEL HACK
  ===========================
*/

* {
     box-sizing: border-box;
}

/*
  ===========================
  CLEARFIX HACK
  ===========================
*/

.clearfix:before, .clearfix:after {
     content: "";
     display: block;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clearfix:after {
     clear: both;
}

.clearfix {
	clear: both;
     *zoom: 1;
}

/*
  ===========================
  BASE STYLES
  ===========================
*/

body * {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 960px;
  margin: auto;
}

/*
  ===========================
  LAYOUT
  ===========================
*/

img, iframe {
  width: 80%;
  margin: 5% 10%;
}

/*
  ===========================
  ADDITIONAL STYLES
  ===========================
*/

@media all and (max) {
  
}