/*
  ===========================
  BOX MODEL HACK
  ===========================
*/

* {
     box-sizing: border-box;
}

/*
  ===========================
  CLEARFIX HACK
  ===========================
*/

.clearfix:before, .clearfix:after {
     content: "";
     display: block;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clearfix:after {
     clear: both;
}

.clearfix {
	clear: both;
     *zoom: 1;
}

/*
  ===========================
  BASE STYLES
  ===========================
*/

html {
  font-size: 62.5%;
  font-family: Helvetica, sans-serif;
}

html * {
  text-decoration: none;
  color: black;
  line-height: 1.5rem;
}

body {
  width: 96rem;
  margin: 0 auto;
}

/*
  ===========================
  LAYOUT STYLES
  ===========================
*/

header, .hero-main-article, .hero-side-articles, 
.latest-section .latest-article > * {
  float: left;
}

main, .latest-section {
  float: right;
  width: 85%;
}

header {
  height: 100vh;
  width: 15%;
  padding: 2rem 2rem 0 2rem;
}

header > div:last-of-type {
  padding: 0 0 2rem 0;
}

li {
  padding: .75rem 0; 
}

.hero-main-article {
  height: 50rem;
  width: 60%;
  padding: 2rem 2rem 0 0;
}

.hero-main-article h2 {
  padding: .5rem 0 1rem 0;
}

.hero-side-articles {
  width: 40%;
  padding: 0 2rem;
}

.hero-side-articles > section {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.hero-side-articles > section:last-child {
  width: 100%;
  border-bottom: none;
}

.hero-side-articles h3 {
  padding: 1rem 0 .5rem 0;
}

.latest-article {
  padding: 0 2rem 0 0;
}

.latest-article > * {
  width: 33.3333%;
}

/*
  ===========================
  MODULE STYLES
  ===========================
*/

.logo figure, .logo img {
  height: 5rem;
  width: 5rem;
}

input {
  width: 80%;
  border: none;
}

.article-pic {
  background: orange;
  border: 2px solid black;
}

.hero-main-article .article-pic{
  height: 32rem;
}

.article-pic img {
  height: 100%;
}

.latest-article > section, 
.latest-article > h4 {
  padding: 2rem 4rem 2rem 0;
}

.latest-article .article-pic {
  height: 14rem;
  margin: 2rem 0 0 0;
}

/*
  ===========================
  STATE STYLES
  ===========================
*/


/*
  ===========================
  THEME STYLES
  ===========================
*/

h2, h3, h5, h6 {
  font-weight: bold;
  line-height: 2.25rem;
}

h2 {
  /* MAIN ARTICLE STYLES */
  font-size: 3rem;
  line-height: 3rem;
}

h3 {
  /* SIDE ARTICLE STYLES */
  font-size: 2rem;
}

h4 {
  /* ARTICLE DESCRIPTION STYLES */
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: gray;
}


h6 {
  /* EXTRA CRUNCH */
  color: #fc0;
}

li a {
  font-size: 1.5rem;
  color: gray;
}