/*
  ===========================
  BOX MODEL HACK
  ===========================
*/

* {
  box-sizing: border-box;
}

/*
  ===========================
  CLEARFIX HACK
  ===========================
*/

.clearfix:before, .clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.clearfix {
	clear: both;
  *zoom: 1;
}

/*
  ===========================
  BASE STYLES
  ===========================
*/

html {
  font-size: 62.5%;
}

html * {
  font-family: "Lora", "Open Sans", sans-serif;
  color: black;
  text-decoration: none;
}

body {
  width: 100vw;
}

span, li, a {
  display: block;
}

/*
  ===========================
  LAYOUT STYLES
  ===========================
*/

.logo-header, ul, li,
.fold-one .text-section,
.arrow, .fold-three > *,
.photo-gallery > div {
  float: left;
}

header .button-book,
.fold-one .sidebar-section,
.fold-one .sidebar-section p  {
  float: right;
}

header, ul,
.arrow-section,
.fold-four ul {
  overflow: auto;
}

.main-top {
  position: relative;
}

header {
  height: 5%;
  width: 100vw;
  padding: 1% 7.5%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
}

header ul {
  width: 65%;
  margin: 0 7.5%;
}

.backdrop-image {
  height: 670px;
  width: 1136px;
  background: url(../assets/1400x1000-10rotate-crop.jfif) no-repeat center;
  border: 5px solid gray;
  border-radius: 100px;
  transform: translate(-40px, -150px) rotate(10deg);
  position: relative;
  z-index: 2;
}

.fold-one .text-section {
  width: 80%;
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 4;
}

.fold-one .sidebar-section {
  height: 600px;
  width: 20%;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 4;
}

h1 {
  margin: 0 0 0 15%;
  padding: 10% 0 0% 0;
}

h1 + p {
  margin: 2% 0 2% 15%;
}

.fold-two {
  padding: 0 10% 5% 10%;
}

.fold-two li {
  width: 33.3333%;
}

.fold-three {
  padding: 5% 10%;
  background: #eae7e5;
}

.fold-three > *  {
  width: 50%;
}

.fold-four {
  padding: 5% 10%;
}

.fold-five {
  padding: 5% 10%;
}

.fold-five section {
  background: url(../assets/850x250.jfif) no-repeat center;
  padding: 7% 10%;
}

.fold-six {
  padding: 5% 10%;
}

/*
  ===========================
  MODULE STYLES
  ===========================
*/

.logo-header a,
.logo-header img,
.icon-header a,
.icon-header img {
  width: 100%;
}

.logo-header {
  width: 10%;
}

header li {
  margin: 0 4%;
  padding: 1.375% 0;
}

.icon-header {
  width: 4%;
  margin: 0 2% 0 0;
  padding: 0;
}

.button-book {
  width: 100px;
  padding: 10px;
  background: white;
  text-align: center;
}

header .button-book {
  width: 10%;
  padding: .75% 0;
  background: white;
}

.button-black {
  width: 100px;
  padding: 15px;
  background: black;
  text-align: center;
}

.fold-one .button-black {
  margin: 0 0 0 15%;
}

.fold-one .first-visit-block {
  width: 180px;
  background: black;
  margin: 5% 0 0 15%;
  padding: 2% 0;
}

.first-visit-block span {
  width: 100%;
  padding: 10%;
  border-left: 3px solid white;
}

.first-visit-block p {
  margin: 0 0 5% 10%;
  padding: 5% 15% 5% 0;
}

.first-visit-block .button-book {
  margin: 0 0 0 10%;
}

.sidebar-section section:first-child {
  height: 450px;
  position: relative;
}

.sidebar-section p {
  transform: rotate(.25turn);
  text-align: right;
  position: absolute;
  top: 60%;
  right: 1%;
}

.arrow-section {
  padding: 5% 10% 5% 20%;
}

.sidebar-section .arrow {
  height: 40px;
  width: 40px;
  margin: 0 5px;
  padding: 8px 0;
  border-radius: 50%;
  background: white;
  text-align: center;
}

.sidebar-section .left-arrow {
  transform: rotate(0.5turn);
}

.fold-two figure {
  width: 40%;
  padding: 0 5% 5% 5%;
  margin: 0 auto;
}

.fold-two img {
  width: 100%;
}

.fold-two h3 {
  padding: 5% 0;
  text-align: center;
}

h3 + p {
  padding: 0 5%;
  text-align: center;
}

.fold-three section {
  padding: 0 10% 0 0;
}

.fold-three p {
  padding: 5% 0;
}

figure video {
  width: 100%;
}

.fold-four section {
  background: black;
  width: 60%;
  padding: 5% 10%;
  position: absolute;
  bottom: 0;
  left: 20%;
  z-index: 6;
}

h4 , h4 + span {
  text-align: center;
}

h4 + span {
  padding-top: 10%;
}

.fold-four li  {
  width: 33.3333%;
  padding: 0 2% 3% 2%;
  position: relative;
}

.fold-four ul,
.fold-four figure,
.fold-four img {
  width: 100%;
}

.fold-five p {
  padding: 2% 0 3% 0;
  text-align: left;
}

.fold-five .button-black {
  width: 150px;
}

.fold-six h2 {
  text-align: center;
}

.fold-six .photo-gallery {
  margin: 2% 0 0 0;
}

.photo-gallery > div {
  width: 33.3333%;
  padding: 0 1%;
}

.photo-gallery figure {
  padding: 2% 0;
}

.photo-gallery img {
  width: 100%;
}

/*
  ===========================
  THEME STYLES
  ===========================
*/

header *, h1 + p,
h1 ~ a, .first-visit-block, 
.button-black {
  font-weight: bold;
  font-size: .75rem;
}


.fold-one * {
  color: white;
}

.button-book {
  color: black;
}

.button-black {
  color: white;
}

h1 {
  font-size: 6rem;
  line-height: 7rem;
}

h1 + p {
  letter-spacing: .25rem;
}

.first-visit-block p {
  font-size: 1rem;
  line-height: 2.5rem;
}

strong {
  font-weight: bold;
  font-size: 2rem;
}

.sidebar-section p {
  letter-spacing: .125rem;
}

.arrow {
  font-size: 2rem;
  color: black;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

h3 + p, h2 + p {
  font-family: "Open Sans", sans-serif;
  line-height: 2rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.fold-four section * {
  color: white;
}

h4 {
  font-weight: bold;
}

h4 + span {
  font-size: .75rem;
}

.fold-five * {
  color: white;
}

.fold-five p {
  font-family: "Lora", sans-serif;
  font-size: 2rem;
  line-height: 4rem;
}

.fold-five strong {
  font-size: 2.5rem;
}

/*
  ===========================
  STATE STYLES
  ===========================
*/