/*
  ===========================
  BOX MODEL HACK
  ===========================
*/

* {
  box-sizing: border-box;
}

/*
  ===========================
  CLEARFIX HACK
  ===========================
*/

.clearfix:before, .clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  clear: both;
  *zoom: 1;
}

/*
  ===========================
  BASE STYLES
  ===========================
*/

html {
  font-size: 62.5%;
}

html * {
  line-height: 1.5rem;
  font-family: Helvetica, Arial, sans-serif;
  color: #00374d;
  text-decoration: none;
}

header, main, .second-main-section
 {
  width: 96rem;
  margin: 0 auto;
}

img {
  /* DEFAULT SIZING */
  width: 20rem;
}

/*
  ===========================
  LAYOUT STYLES
  ===========================
*/

header > *, li,
.main-description,
.feature-list > section {
  float: left;
}

header > form > input, 
.main-hero figure,
.main-hero img {
  float: right;
}

header {
  padding: 1rem 0 0 0;
  overflow: auto;
}

.main-hero {
  padding: 2.5% 0 0 10%;
  overflow: auto; 
}

.main-description {
  width: 40%;
  padding: 7.5% 10% 0 0;
}

.feature-list {
  padding: 5% 10%;
  overflow: auto;
}

/*
  ===========================
  MODULE STYLES
  ===========================
*/

.logo {
  width: 35%;
  padding: 1rem 0 1rem 3rem;
}

ul {
  width: 40%;
}

li {
  width: 25%;
  padding: 1.5rem 0;
}

header > form {
  width: 25%;
  padding: 1rem 3rem 1rem 0;
}

h1 {
  padding: 10% 0;
}

p {
  padding: 5% 20% 5% 0;
}

h2 + p {
  padding: 2.5% 0 0 0;
}

.main-hero figure {
  width: 60%;
}

.main-hero img {
  width: 100%;
}

.feature-list > section {
  width: 25%;
}

.second-main-section section {
  padding: 5% 40% 5% 10%;
}

.icon, .icon > img {
  width: 4rem;
}

/*
  ===========================
  STATE STYLES
  ===========================
*/



/*
  ===========================
  THEME STYLES
  ===========================
*/

h1, h2, h3, span a, .logo, 
input[value="Button"] {
  font-weight: bold;
}

body > section:first-child {
  background: #f5f9fc;
}

.logo {
  font-size: 2rem;
}

li > a {
  font-size: 1.25rem;
}

input[value="Button"] {
  font-size: .8rem;
  padding: .5rem 1rem;
  color: white;
  background: #00374d;
}

h1 {
  font-size: 3rem;
  line-height: 3.25rem;
}

h2 {
  font-size: 3.5rem;
  line-height: 3.75rem;
}
