/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body > * {
  margin: 2% auto;
  width: 90%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
